							/*SMOOTH SCROLLING*/
html
{
	scroll-behavior: smooth;
}
	
							/*BODY STYLE/FONT*/
body,h1,h2,h3,h4,h5,h6
{
	font-family: "Lato", monospace;
	background-color:  #BC8F8F;  /*pink background color*/
}

								/*PINK BOX*/	

.container
{
	text-align: center;
	left: 0;
	right: 0;
	
	width: 200px;
	height: 150px;
		
	padding: 20px;
	margin: auto;
	background-color: #BC8F8F;  /*pink background color*/
}
	
.container:hover /*creates shade when hover mouse over link/tab*/
{
	background-color: #FFA07A; /*orange color*/
	color: black;
}
	
								/*HEADERS*/
	
.header
{
	padding: 80px;
	text-align: center; /*center text*/
	background-color: #FFFFF6; /*cream color*/
	background-repeat: no-repeat;
	color: white; /*text color*/
}

.header h1
{
	front-size: 40px; /*increase font size of h1*/
	text-align: center;
}
	
h2
{
	font-size: 30px;
	color: white;
	text-align: center;
}

p
{
	color: white;
}
	
														
/* Navbar container */
.navbar
{
  	overflow: hidden;
  	background-color: #BC8F8F; /*pink background color*/
  	margin: none;
}

/* Links inside the navbar */
.navbar a
{
  	float: left; /*makes sure links stay side-by-side*/
	display: block; /*changes the display to block*/
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none; /*removes underline*/
	border-bottom: 3px solid #FFFFF6;/*cream color*/
}

/* Add a red background color to navbar links on hover */
.navbar a:hover
{
  	background-color: #FFA07A;
  	color: black;
}

/*right tab for navbar dropdown*/
.dropdownRight
{
	float: right;
	overflow: hidden; /*floats link to right*/
	border-bottom: 3px solid #FFFFF6;/*cream color*/

}
	
.dropdownRight .dropbtn
{
  	font-size: 16px; 
  	border: none;
  	outline: none;
  	color: white;
  	padding: 14px 16px;
  	background-color: inherit;
  	font-family: inherit; /* Important for vertical align on mobile phones */
  	margin: 0; /* Important for vertical align on mobile phones */
}
	
.dropdownRight-contentRight
	{
  		display: none;
  		position: absolute;
  		background-color: #FFFFF6;
  		width: 100px;
  		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  		z-index: 1;
	}
	
.dropdownRight-contentRight a
	{
  		float: none;
  		color: black;
  		padding: 12px 16px;
  		text-decoration: none;
  		display: block;
  		text-align: center;
  		font-size: 14px;
  		
	}

.dropdownRight-contentRight a:hover
	{
  		background-color: #FFA07A;
  		color: black;
	}								
		
.dropdownRight:hover .dropdownRight-contentRight
	{
  		display: block;
	}							

.github
{
	color: white;
	font-weight: bold;
}

.portfolio
{
	color: white;
}
	
/*MEDIA LAYOUT DESIGN BASED ON DEVICE SIZE*/
	/*when screen is <700px wide; two cols stack on top of each other instead next to*/
	@media screen and (max-width: 700px)
	{
		.row
		{
			flex-direction: column;
		}
	}
	/*when screen is <400px wide; links stack on top of each other instead next to*/
	@media screen and (max-width: 400px)
	{
		.navbar a
		{
			float: none;
			width: 100%;
		}
	}
	
/*FOOTER STYLE/FONT*/
	.footer
	{
		padding: 20px;
		test-align: center;
		background: #BC8F8F;
	}
	